.mc.item {
  width: 32px;
  height: 32px;
  background-image: url(blocks_items.png);
  display: inline-block;
  background-position:32px 32px;
}

.mc.item.id1 {background-position:0px 0px;}
.mc.item.id2 {background-position:-32px 0px;}
.mc.item.id3 {background-position:-64px 0px;}
.mc.item.id4 {background-position:-96px 0px;}
.mc.item.id5 {background-position:-128px 0px;}
.mc.item.id5[class~="1"] {background-position:-160px 0px;}
.mc.item.id5[class~="2"] {background-position:-192px 0px;}
.mc.item.id5[class~="3"] {background-position:-224px 0px;}
.mc.item.id6 {background-position:-256px 0px;}
.mc.item.id6[class~="1"] {background-position:0px -32px;}
.mc.item.id6[class~="2"] {background-position:-32px -32px;}
.mc.item.id6[class~="3"] {background-position:-64px -32px;}
.mc.item.id7 {background-position:-96px -32px;}
.mc.item.id8 {background-position:-128px -32px;}
.mc.item.id9 {background-position:-160px -32px;}
.mc.item.id10 {background-position:-192px -32px;}
.mc.item.id11 {background-position:-224px -32px;}
.mc.item.id12 {background-position:-256px -32px;}
.mc.item.id13 {background-position:0px -64px;}
.mc.item.id14 {background-position:-32px -64px;}
.mc.item.id15 {background-position:-64px -64px;}
.mc.item.id16 {background-position:-96px -64px;}
.mc.item.id17 {background-position:-128px -64px;}
.mc.item.id17[class~="1"] {background-position:-160px -64px;}
.mc.item.id17[class~="2"] {background-position:-192px -64px;}
.mc.item.id17[class~="3"] {background-position:-224px -64px;}
.mc.item.id18 {background-position:-256px -64px;}
.mc.item.id18[class~="1"] {background-position:0px -96px;}
.mc.item.id18[class~="2"] {background-position:-32px -96px;}
.mc.item.id18[class~="3"] {background-position:-64px -96px;}
.mc.item.id19 {background-position:-96px -96px;}
.mc.item.id20 {background-position:-128px -96px;}
.mc.item.id21 {background-position:-160px -96px;}
.mc.item.id22 {background-position:-192px -96px;}
.mc.item.id23 {background-position:-224px -96px;}
.mc.item.id24 {background-position:-256px -96px;}
.mc.item.id24[class~="1"] {background-position:0px -128px;}
.mc.item.id24[class~="2"] {background-position:-32px -128px;}
.mc.item.id25 {background-position:-64px -128px;}
.mc.item.id26 {background-position:-96px -128px;}
.mc.item.id27 {background-position:-128px -128px;}
.mc.item.id28 {background-position:-160px -128px;}
.mc.item.id29 {background-position:-192px -128px;}
.mc.item.id30 {background-position:-224px -128px;}
.mc.item.id31 {background-position:-256px -128px;}
.mc.item.id31[class~="1"] {background-position:0px -160px;}
.mc.item.id31[class~="2"] {background-position:-32px -160px;}
.mc.item.id31[class~="3"] {background-position:-64px -160px;}
.mc.item.id32 {background-position:-96px -160px;}
.mc.item.id33 {background-position:-128px -160px;}
.mc.item.id34 {background-position:-160px -160px;}
.mc.item.id35 {background-position:-192px -160px;}
.mc.item.id35[class~="1"] {background-position:-224px -160px;}
.mc.item.id35[class~="2"] {background-position:-256px -160px;}
.mc.item.id35[class~="3"] {background-position:0px -192px;}
.mc.item.id35[class~="4"] {background-position:-32px -192px;}
.mc.item.id35[class~="5"] {background-position:-64px -192px;}
.mc.item.id35[class~="6"] {background-position:-96px -192px;}
.mc.item.id35[class~="7"] {background-position:-128px -192px;}
.mc.item.id35[class~="8"] {background-position:-160px -192px;}
.mc.item.id35[class~="9"] {background-position:-192px -192px;}
.mc.item.id35[class~="10"] {background-position:-224px -192px;}
.mc.item.id35[class~="11"] {background-position:-256px -192px;}
.mc.item.id35[class~="12"] {background-position:0px -224px;}
.mc.item.id35[class~="13"] {background-position:-32px -224px;}
.mc.item.id35[class~="14"] {background-position:-64px -224px;}
.mc.item.id35[class~="15"] {background-position:-96px -224px;}
.mc.item.id36 {background-position:-128px -224px;}
.mc.item.id37 {background-position:-160px -224px;}
.mc.item.id38 {background-position:-192px -224px;}
.mc.item.id39 {background-position:-224px -224px;}
.mc.item.id40 {background-position:-256px -224px;}
.mc.item.id41 {background-position:0px -256px;}
.mc.item.id42 {background-position:-32px -256px;}
.mc.item.id43 {background-position:-64px -256px;}
.mc.item.id43[class~="1"] {background-position:-96px -256px;}
.mc.item.id43[class~="2"] {background-position:-128px -256px;}
.mc.item.id43[class~="3"] {background-position:-160px -256px;}
.mc.item.id43[class~="4"] {background-position:-192px -256px;}
.mc.item.id43[class~="5"] {background-position:-224px -256px;}
.mc.item.id43[class~="6"] {background-position:-256px -256px;}
.mc.item.id43[class~="7"] {background-position:0px -288px;}
.mc.item.id43[class~="8"] {background-position:-32px -288px;}
.mc.item.id43[class~="9"] {background-position:-64px -288px;}
.mc.item.id44 {background-position:-96px -288px;}
.mc.item.id44[class~="1"] {background-position:-128px -288px;}
.mc.item.id44[class~="2"] {background-position:-160px -288px;}
.mc.item.id44[class~="3"] {background-position:-192px -288px;}
.mc.item.id44[class~="4"] {background-position:-224px -288px;}
.mc.item.id44[class~="5"] {background-position:-256px -288px;}
.mc.item.id44[class~="6"] {background-position:0px -320px;}
.mc.item.id44[class~="7"] {background-position:-32px -320px;}
.mc.item.id45 {background-position:-64px -320px;}
.mc.item.id46 {background-position:-96px -320px;}
.mc.item.id47 {background-position:-128px -320px;}
.mc.item.id48 {background-position:-160px -320px;}
.mc.item.id49 {background-position:-192px -320px;}
.mc.item.id50 {background-position:-224px -320px;}
.mc.item.id51 {background-position:-256px -320px;}
.mc.item.id52 {background-position:0px -352px;}
.mc.item.id53 {background-position:-32px -352px;}
.mc.item.id54 {background-position:-64px -352px;}
.mc.item.id55 {background-position:-96px -352px;}
.mc.item.id56 {background-position:-128px -352px;}
.mc.item.id57 {background-position:-160px -352px;}
.mc.item.id58 {background-position:-192px -352px;}
.mc.item.id59 {background-position:-224px -352px;}
.mc.item.id60 {background-position:-256px -352px;}
.mc.item.id61 {background-position:0px -384px;}
.mc.item.id62 {background-position:-32px -384px;}
.mc.item.id63 {background-position:-64px -384px;}
.mc.item.id64 {background-position:-96px -384px;}
.mc.item.id65 {background-position:-128px -384px;}
.mc.item.id66 {background-position:-160px -384px;}
.mc.item.id67 {background-position:-192px -384px;}
.mc.item.id68 {background-position:-224px -384px;}
.mc.item.id69 {background-position:-256px -384px;}
.mc.item.id70 {background-position:0px -416px;}
.mc.item.id71 {background-position:-32px -416px;}
.mc.item.id72 {background-position:-64px -416px;}
.mc.item.id73 {background-position:-96px -416px;}
.mc.item.id74 {background-position:-128px -416px;}
.mc.item.id75 {background-position:-160px -416px;}
.mc.item.id76 {background-position:-192px -416px;}
.mc.item.id77 {background-position:-224px -416px;}
.mc.item.id78 {background-position:-256px -416px;}
.mc.item.id79 {background-position:0px -448px;}
.mc.item.id80 {background-position:-32px -448px;}
.mc.item.id81 {background-position:-64px -448px;}
.mc.item.id82 {background-position:-96px -448px;}
.mc.item.id83 {background-position:-128px -448px;}
.mc.item.id84 {background-position:-160px -448px;}
.mc.item.id85 {background-position:-192px -448px;}
.mc.item.id86 {background-position:-224px -448px;}
.mc.item.id87 {background-position:-256px -448px;}
.mc.item.id88 {background-position:0px -480px;}
.mc.item.id89 {background-position:-32px -480px;}
.mc.item.id90 {background-position:-64px -480px;}
.mc.item.id91 {background-position:-96px -480px;}
.mc.item.id92 {background-position:-128px -480px;}
.mc.item.id93 {background-position:-160px -480px;}
.mc.item.id94 {background-position:-192px -480px;}
.mc.item.id95 {background-position:-224px -480px;}
.mc.item.id96 {background-position:-256px -480px;}
.mc.item.id97 {background-position:0px -512px;}
.mc.item.id97[class~="1"] {background-position:-32px -512px;}
.mc.item.id97[class~="2"] {background-position:-64px -512px;}
.mc.item.id98 {background-position:-96px -512px;}
.mc.item.id98[class~="1"] {background-position:-128px -512px;}
.mc.item.id98[class~="2"] {background-position:-160px -512px;}
.mc.item.id98[class~="3"] {background-position:-192px -512px;}
.mc.item.id99 {background-position:-224px -512px;}
.mc.item.id100 {background-position:-256px -512px;}
.mc.item.id101 {background-position:0px -544px;}
.mc.item.id102 {background-position:-32px -544px;}
.mc.item.id103 {background-position:-64px -544px;}
.mc.item.id104 {background-position:-96px -544px;}
.mc.item.id105 {background-position:-128px -544px;}
.mc.item.id106 {background-position:-160px -544px;}
.mc.item.id107 {background-position:-192px -544px;}
.mc.item.id108 {background-position:-224px -544px;}
.mc.item.id109 {background-position:-256px -544px;}
.mc.item.id110 {background-position:0px -576px;}
.mc.item.id111 {background-position:-32px -576px;}
.mc.item.id112 {background-position:-64px -576px;}
.mc.item.id113 {background-position:-96px -576px;}
.mc.item.id114 {background-position:-128px -576px;}
.mc.item.id115 {background-position:-160px -576px;}
.mc.item.id116 {background-position:-192px -576px;}
.mc.item.id117 {background-position:-224px -576px;}
.mc.item.id118 {background-position:-256px -576px;}
.mc.item.id119 {background-position:0px -608px;}
.mc.item.id120 {background-position:-32px -608px;}
.mc.item.id121 {background-position:-64px -608px;}
.mc.item.id122 {background-position:-96px -608px;}
.mc.item.id123 {background-position:-128px -608px;}
.mc.item.id124 {background-position:-160px -608px;}
.mc.item.id125 {background-position:-192px -608px;}
.mc.item.id125[class~="1"] {background-position:-224px -608px;}
.mc.item.id125[class~="2"] {background-position:-256px -608px;}
.mc.item.id125[class~="3"] {background-position:0px -640px;}
.mc.item.id126 {background-position:-32px -640px;}
.mc.item.id126[class~="1"] {background-position:-64px -640px;}
.mc.item.id126[class~="2"] {background-position:-96px -640px;}
.mc.item.id126[class~="3"] {background-position:-128px -640px;}
.mc.item.id127 {background-position:-160px -640px;}
.mc.item.id128 {background-position:-192px -640px;}
.mc.item.id129 {background-position:-224px -640px;}
.mc.item.id130 {background-position:-256px -640px;}
.mc.item.id131 {background-position:0px -672px;}
.mc.item.id132 {background-position:-32px -672px;}
.mc.item.id133 {background-position:-64px -672px;}
.mc.item.id134 {background-position:-96px -672px;}
.mc.item.id135 {background-position:-128px -672px;}
.mc.item.id136 {background-position:-160px -672px;}
.mc.item.id137 {background-position:-192px -672px;}
.mc.item.id138 {background-position:-224px -672px;}
.mc.item.id139 {background-position:-256px -672px;}
.mc.item.id139[class~="1"] {background-position:0px -704px;}
.mc.item.id140 {background-position:-32px -704px;}
.mc.item.id141 {background-position:-64px -704px;}
.mc.item.id142 {background-position:-96px -704px;}
.mc.item.id143 {background-position:-128px -704px;}
.mc.item.id144 {background-position:-160px -704px;}
.mc.item.id145 {background-position:-192px -704px;}
.mc.item.id145[class~="1"] {background-position:-224px -704px;}
.mc.item.id145[class~="2"] {background-position:-256px -704px;}
.mc.item.id146 {background-position:0px -736px;}
.mc.item.id147 {background-position:-32px -736px;}
.mc.item.id148 {background-position:-64px -736px;}
.mc.item.id149 {background-position:-96px -736px;}
.mc.item.id150 {background-position:-128px -736px;}
.mc.item.id151 {background-position:-160px -736px;}
.mc.item.id152 {background-position:-192px -736px;}
.mc.item.id153 {background-position:-224px -736px;}
.mc.item.id154 {background-position:-256px -736px;}
.mc.item.id155 {background-position:0px -768px;}
.mc.item.id155[class~="1"] {background-position:-32px -768px;}
.mc.item.id155[class~="2"] {background-position:-64px -768px;}
.mc.item.id155[class~="3"] {background-position:-96px -768px;}
.mc.item.id155[class~="4"] {background-position:-128px -768px;}
.mc.item.id156 {background-position:-160px -768px;}
.mc.item.id157 {background-position:-192px -768px;}
.mc.item.id158 {background-position:-224px -768px;}
.mc.item.id159 {background-position:-256px -768px;}
.mc.item.id159[class~="1"] {background-position:0px -800px;}
.mc.item.id159[class~="2"] {background-position:-32px -800px;}
.mc.item.id159[class~="3"] {background-position:-64px -800px;}
.mc.item.id159[class~="4"] {background-position:-96px -800px;}
.mc.item.id159[class~="5"] {background-position:-128px -800px;}
.mc.item.id159[class~="6"] {background-position:-160px -800px;}
.mc.item.id159[class~="7"] {background-position:-192px -800px;}
.mc.item.id159[class~="8"] {background-position:-224px -800px;}
.mc.item.id159[class~="9"] {background-position:-256px -800px;}
.mc.item.id159[class~="10"] {background-position:0px -832px;}
.mc.item.id159[class~="11"] {background-position:-32px -832px;}
.mc.item.id159[class~="12"] {background-position:-64px -832px;}
.mc.item.id159[class~="13"] {background-position:-96px -832px;}
.mc.item.id159[class~="14"] {background-position:-128px -832px;}
.mc.item.id159[class~="15"] {background-position:-160px -832px;}
.mc.item.id170 {background-position:-192px -832px;}
.mc.item.id171 {background-position:-224px -832px;}
.mc.item.id171[class~="1"] {background-position:-256px -832px;}
.mc.item.id171[class~="2"] {background-position:0px -864px;}
.mc.item.id171[class~="3"] {background-position:-32px -864px;}
.mc.item.id171[class~="4"] {background-position:-64px -864px;}
.mc.item.id171[class~="5"] {background-position:-96px -864px;}
.mc.item.id171[class~="6"] {background-position:-128px -864px;}
.mc.item.id171[class~="7"] {background-position:-160px -864px;}
.mc.item.id171[class~="8"] {background-position:-192px -864px;}
.mc.item.id171[class~="9"] {background-position:-224px -864px;}
.mc.item.id171[class~="10"] {background-position:-256px -864px;}
.mc.item.id171[class~="11"] {background-position:0px -896px;}
.mc.item.id171[class~="12"] {background-position:-32px -896px;}
.mc.item.id171[class~="13"] {background-position:-64px -896px;}
.mc.item.id171[class~="14"] {background-position:-96px -896px;}
.mc.item.id171[class~="15"] {background-position:-128px -896px;}
.mc.item.id172 {background-position:-160px -896px;}
.mc.item.id173 {background-position:-192px -896px;}

.mc.item.id256 {background-position:288px 0px;}
.mc.item.id257 {background-position:-320px 0px;}
.mc.item.id258 {background-position:-352px 0px;}
.mc.item.id259 {background-position:-384px 0px;}
.mc.item.id260 {background-position:-416px 0px;}
.mc.item.id261 {background-position:-448px 0px;}
.mc.item.id262 {background-position:-480px 0px;}
.mc.item.id263 {background-position:-512px 0px;}
.mc.item.id263[class~="1"] {background-position:-544px 0px;}
.mc.item.id264 {background-position:288px -32px;}
.mc.item.id265 {background-position:-320px -32px;}
.mc.item.id266 {background-position:-352px -32px;}
.mc.item.id267 {background-position:-384px -32px;}
.mc.item.id268 {background-position:-416px -32px;}
.mc.item.id269 {background-position:-448px -32px;}
.mc.item.id270 {background-position:-480px -32px;}
.mc.item.id271 {background-position:-512px -32px;}
.mc.item.id272 {background-position:-544px -32px;}
.mc.item.id273 {background-position:288px -64px;}
.mc.item.id274 {background-position:-320px -64px;}
.mc.item.id275 {background-position:-352px -64px;}
.mc.item.id276 {background-position:-384px -64px;}
.mc.item.id277 {background-position:-416px -64px;}
.mc.item.id278 {background-position:-448px -64px;}
.mc.item.id279 {background-position:-480px -64px;}
.mc.item.id280 {background-position:-512px -64px;}
.mc.item.id281 {background-position:-544px -64px;}
.mc.item.id282 {background-position:288px -96px;}
.mc.item.id283 {background-position:-320px -96px;}
.mc.item.id284 {background-position:-352px -96px;}
.mc.item.id285 {background-position:-384px -96px;}
.mc.item.id286 {background-position:-416px -96px;}
.mc.item.id287 {background-position:-448px -96px;}
.mc.item.id288 {background-position:-480px -96px;}
.mc.item.id289 {background-position:-512px -96px;}
.mc.item.id290 {background-position:-544px -96px;}
.mc.item.id291 {background-position:288px -128px;}
.mc.item.id292 {background-position:-320px -128px;}
.mc.item.id293 {background-position:-352px -128px;}
.mc.item.id294 {background-position:-384px -128px;}
.mc.item.id295 {background-position:-416px -128px;}
.mc.item.id296 {background-position:-448px -128px;}
.mc.item.id297 {background-position:-480px -128px;}
.mc.item.id298 {background-position:-512px -128px;}
.mc.item.id299 {background-position:-544px -128px;}
.mc.item.id300 {background-position:288px -160px;}
.mc.item.id301 {background-position:-320px -160px;}
.mc.item.id302 {background-position:-352px -160px;}
.mc.item.id303 {background-position:-384px -160px;}
.mc.item.id304 {background-position:-416px -160px;}
.mc.item.id305 {background-position:-448px -160px;}
.mc.item.id306 {background-position:-480px -160px;}
.mc.item.id307 {background-position:-512px -160px;}
.mc.item.id308 {background-position:-544px -160px;}
.mc.item.id309 {background-position:288px -192px;}
.mc.item.id310 {background-position:-320px -192px;}
.mc.item.id311 {background-position:-352px -192px;}
.mc.item.id312 {background-position:-384px -192px;}
.mc.item.id313 {background-position:-416px -192px;}
.mc.item.id314 {background-position:-448px -192px;}
.mc.item.id315 {background-position:-480px -192px;}
.mc.item.id316 {background-position:-512px -192px;}
.mc.item.id317 {background-position:-544px -192px;}
.mc.item.id318 {background-position:288px -224px;}
.mc.item.id319 {background-position:-320px -224px;}
.mc.item.id320 {background-position:-352px -224px;}
.mc.item.id321 {background-position:-384px -224px;}
.mc.item.id322 {background-position:-416px -224px;}
.mc.item.id322[class~="1"] {background-position:-448px -224px;}
.mc.item.id323 {background-position:-480px -224px;}
.mc.item.id324 {background-position:-512px -224px;}
.mc.item.id325 {background-position:-544px -224px;}
.mc.item.id326 {background-position:288px -256px;}
.mc.item.id327 {background-position:-320px -256px;}
.mc.item.id328 {background-position:-352px -256px;}
.mc.item.id329 {background-position:-384px -256px;}
.mc.item.id330 {background-position:-416px -256px;}
.mc.item.id331 {background-position:-448px -256px;}
.mc.item.id332 {background-position:-480px -256px;}
.mc.item.id333 {background-position:-512px -256px;}
.mc.item.id334 {background-position:-544px -256px;}
.mc.item.id335 {background-position:288px -288px;}
.mc.item.id336 {background-position:-320px -288px;}
.mc.item.id337 {background-position:-352px -288px;}
.mc.item.id338 {background-position:-384px -288px;}
.mc.item.id339 {background-position:-416px -288px;}
.mc.item.id340 {background-position:-448px -288px;}
.mc.item.id341 {background-position:-480px -288px;}
.mc.item.id342 {background-position:-512px -288px;}
.mc.item.id343 {background-position:-544px -288px;}
.mc.item.id344 {background-position:288px -320px;}
.mc.item.id345 {background-position:-320px -320px;}
.mc.item.id346 {background-position:-352px -320px;}
.mc.item.id347 {background-position:-384px -320px;}
.mc.item.id348 {background-position:-416px -320px;}
.mc.item.id349 {background-position:-448px -320px;}
.mc.item.id350 {background-position:-480px -320px;}
.mc.item.id351 {background-position:-512px -320px;}
.mc.item.id351[class~="1"] {background-position:-544px -320px;}
.mc.item.id351[class~="2"] {background-position:288px -352px;}
.mc.item.id351[class~="3"] {background-position:-320px -352px;}
.mc.item.id351[class~="4"] {background-position:-352px -352px;}
.mc.item.id351[class~="5"] {background-position:-384px -352px;}
.mc.item.id351[class~="6"] {background-position:-416px -352px;}
.mc.item.id351[class~="7"] {background-position:-448px -352px;}
.mc.item.id351[class~="8"] {background-position:-480px -352px;}
.mc.item.id351[class~="9"] {background-position:-512px -352px;}
.mc.item.id351[class~="10"] {background-position:-544px -352px;}
.mc.item.id351[class~="11"] {background-position:288px -384px;}
.mc.item.id351[class~="12"] {background-position:-320px -384px;}
.mc.item.id351[class~="13"] {background-position:-352px -384px;}
.mc.item.id351[class~="14"] {background-position:-384px -384px;}
.mc.item.id351[class~="15"] {background-position:-416px -384px;}
.mc.item.id352 {background-position:-448px -384px;}
.mc.item.id353 {background-position:-480px -384px;}
.mc.item.id354 {background-position:-512px -384px;}
.mc.item.id355 {background-position:-544px -384px;}
.mc.item.id356 {background-position:288px -416px;}
.mc.item.id357 {background-position:-320px -416px;}
.mc.item.id358 {background-position:-352px -416px;}
.mc.item.id359 {background-position:-384px -416px;}
.mc.item.id360 {background-position:-416px -416px;}
.mc.item.id361 {background-position:-448px -416px;}
.mc.item.id362 {background-position:-480px -416px;}
.mc.item.id363 {background-position:-512px -416px;}
.mc.item.id364 {background-position:-544px -416px;}
.mc.item.id365 {background-position:288px -448px;}
.mc.item.id366 {background-position:-320px -448px;}
.mc.item.id367 {background-position:-352px -448px;}
.mc.item.id368 {background-position:-384px -448px;}
.mc.item.id369 {background-position:-416px -448px;}
.mc.item.id370 {background-position:-448px -448px;}
.mc.item.id371 {background-position:-480px -448px;}
.mc.item.id372 {background-position:-512px -448px;}
.mc.item.id373 {background-position:-544px -448px;}
.mc.item.id374 {background-position:288px -480px;}
.mc.item.id375 {background-position:-320px -480px;}
.mc.item.id376 {background-position:-352px -480px;}
.mc.item.id377 {background-position:-384px -480px;}
.mc.item.id378 {background-position:-416px -480px;}
.mc.item.id379 {background-position:-448px -480px;}
.mc.item.id380 {background-position:-480px -480px;}
.mc.item.id381 {background-position:-512px -480px;}
.mc.item.id382 {background-position:-544px -480px;}
.mc.item.id383[class~="50"] {background-position:288px -512px;}
.mc.item.id383[class~="51"] {background-position:-320px -512px;}
.mc.item.id383[class~="52"] {background-position:-352px -512px;}
.mc.item.id383[class~="54"] {background-position:-384px -512px;}
.mc.item.id383[class~="55"] {background-position:-416px -512px;}
.mc.item.id383[class~="56"] {background-position:-448px -512px;}
.mc.item.id383[class~="57"] {background-position:-480px -512px;}
.mc.item.id383[class~="58"] {background-position:-512px -512px;}
.mc.item.id383[class~="59"] {background-position:-544px -512px;}
.mc.item.id383[class~="60"] {background-position:288px -544px;}
.mc.item.id383[class~="61"] {background-position:-320px -544px;}
.mc.item.id383[class~="62"] {background-position:-352px -544px;}
.mc.item.id383[class~="65"] {background-position:-384px -544px;}
.mc.item.id383[class~="66"] {background-position:-416px -544px;}
.mc.item.id383[class~="90"] {background-position:-448px -544px;}
.mc.item.id383[class~="91"] {background-position:-480px -544px;}
.mc.item.id383[class~="92"] {background-position:-512px -544px;}
.mc.item.id383[class~="93"] {background-position:-544px -544px;}
.mc.item.id383[class~="94"] {background-position:288px -576px;}
.mc.item.id383[class~="95"] {background-position:-320px -576px;}
.mc.item.id383[class~="96"] {background-position:-352px -576px;}
.mc.item.id383[class~="98"] {background-position:-384px -576px;}
.mc.item.id383[class~="100"] {background-position:-416px -576px;}
.mc.item.id383[class~="120"] {background-position:-448px -576px;}
.mc.item.id384 {background-position:-480px -576px;}
.mc.item.id385 {background-position:-512px -576px;}
.mc.item.id386 {background-position:-544px -576px;}
.mc.item.id387 {background-position:288px -608px;}
.mc.item.id388 {background-position:-320px -608px;}
.mc.item.id389 {background-position:-352px -608px;}
.mc.item.id390 {background-position:-384px -608px;}
.mc.item.id391 {background-position:-416px -608px;}
.mc.item.id392 {background-position:-448px -608px;}
.mc.item.id393 {background-position:-480px -608px;}
.mc.item.id394 {background-position:-512px -608px;}
.mc.item.id395 {background-position:-544px -608px;}
.mc.item.id396 {background-position:288px -640px;}
.mc.item.id397[class~="0"] {background-position:-320px -640px;}
.mc.item.id397[class~="1"] {background-position:-352px -640px;}
.mc.item.id397[class~="2"] {background-position:-384px -640px;}
.mc.item.id397[class~="3"] {background-position:-416px -640px;}
.mc.item.id397[class~="4"] {background-position:-448px -640px;}
.mc.item.id398 {background-position:-480px -640px;}
.mc.item.id399 {background-position:-512px -640px;}
.mc.item.id400 {background-position:-544px -640px;}
.mc.item.id401 {background-position:288px -672px;}
.mc.item.id402 {background-position:-320px -672px;}
.mc.item.id403 {background-position:-352px -672px;}
.mc.item.id404 {background-position:-384px -672px;}
.mc.item.id405 {background-position:-416px -672px;}
.mc.item.id406 {background-position:-448px -672px;}
.mc.item.id407 {background-position:-480px -672px;}
.mc.item.id408 {background-position:-512px -672px;}
.mc.item.id417 {background-position:-544px -672px;}
.mc.item.id418 {background-position:288px -704px;}
.mc.item.id419 {background-position:-320px -704px;}
.mc.item.id420 {background-position:-352px -704px;}
.mc.item.id421 {background-position:-384px -704px;}
.mc.item.id2256 {background-position:-416px -704px;}
.mc.item.id2257 {background-position:-448px -704px;}
.mc.item.id2258 {background-position:-480px -704px;}
.mc.item.id2259 {background-position:-512px -704px;}
.mc.item.id2260 {background-position:-544px -704px;}
.mc.item.id2261 {background-position:288px -736px;}
.mc.item.id2262 {background-position:-320px -736px;}
.mc.item.id2263 {background-position:-352px -736px;}
.mc.item.id2264 {background-position:-384px -736px;}
.mc.item.id2265 {background-position:-416px -736px;}
.mc.item.id2266 {background-position:-448px -736px;}
.mc.item.id2267 {background-position:-480px -736px;}

/* potions */
.mc.item.id373[class~="0"] {background-position:0px 0px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="16"] {background-position:-32px 0px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="32"] {background-position:-64px 0px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="64"] {background-position:-96px 0px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="8193"] {background-position:-128px 0px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="8194"] {background-position:-160px 0px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="8195"] {background-position:-192px 0px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="8196"] {background-position:-224px 0px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="8197"] {background-position:-256px 0px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="8198"] {background-position:-288px 0px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="8200"] {background-position:-320px 0px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="8201"] {background-position:-352px 0px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="8202"] {background-position:-384px 0px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="8204"] {background-position:0px -32px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="8206"] {background-position:-32px -32px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="8225"] {background-position:-64px -32px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="8226"] {background-position:-96px -32px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="8228"] {background-position:-128px -32px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="8229"] {background-position:-160px -32px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="8233"] {background-position:-192px -32px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="8236"] {background-position:-224px -32px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="8257"] {background-position:-256px -32px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="8258"] {background-position:-288px -32px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="8259"] {background-position:-320px -32px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="8260"] {background-position:-352px -32px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="8262"] {background-position:-384px -32px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="8264"] {background-position:0px -64px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="8265"] {background-position:-32px -64px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="8266"] {background-position:-64px -64px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="8270"] {background-position:-96px -64px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="16384"] {background-position:-128px -64px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="16385"] {background-position:-160px -64px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="16386"] {background-position:-192px -64px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="16387"] {background-position:-224px -64px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="16388"] {background-position:-256px -64px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="16389"] {background-position:-288px -64px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="16390"] {background-position:-320px -64px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="16392"] {background-position:-352px -64px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="16393"] {background-position:-384px -64px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="16394"] {background-position:0px -96px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="16396"] {background-position:-32px -96px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="16398"] {background-position:-64px -96px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="16417"] {background-position:-96px -96px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="16418"] {background-position:-128px -96px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="16420"] {background-position:-160px -96px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="16421"] {background-position:-192px -96px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="16425"] {background-position:-224px -96px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="16428"] {background-position:-256px -96px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="16449"] {background-position:-288px -96px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="16450"] {background-position:-320px -96px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="16451"] {background-position:-352px -96px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="16452"] {background-position:-384px -96px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="16454"] {background-position:0px -128px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="16456"] {background-position:-32px -128px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="16457"] {background-position:-64px -128px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="16458"] {background-position:-96px -128px;background-image:url(blocks_items_potions.png);}
.mc.item.id373[class~="16462"] {background-position:-128px -128px;background-image:url(blocks_items_potions.png);}