.mc.item.id2790 {background-position:0px 0px;background-image:url('blocks_items_compactwindmills.png');}
.mc.item.id2790[class~="0"] {background-position:0px 0px;background-image:url('blocks_items_compactwindmills.png');}
.mc.item.id2790[class~="1"] {background-position:-32px 0px;background-image:url('blocks_items_compactwindmills.png');}
.mc.item.id2790[class~="2"] {background-position:-64px 0px;background-image:url('blocks_items_compactwindmills.png');}
.mc.item.id2790[class~="3"] {background-position:-96px 0px;background-image:url('blocks_items_compactwindmills.png');}
.mc.item.id2790[class~="4"] {background-position:-128px 0px;background-image:url('blocks_items_compactwindmills.png');}
.mc.item.id27900 {background-position:-160px 0px;background-image:url('blocks_items_compactwindmills.png');}
.mc.item.id27901 {background-position:-192px 0px;background-image:url('blocks_items_compactwindmills.png');}
.mc.item.id27902 {background-position:-224px 0px;background-image:url('blocks_items_compactwindmills.png');}
.mc.item.id27903 {background-position:-256px 0px;background-image:url('blocks_items_compactwindmills.png');}