.mc.item.id4095 {background-position:-416px 0px;background-image:url('blocks_items_nuclear_control.png');}
.mc.item.id4095[class~="1"] {background-position:-448px 0px;background-image:url('blocks_items_nuclear_control.png');}
.mc.item.id4095[class~="2"] {background-position:-480px 0px;background-image:url('blocks_items_nuclear_control.png');}
.mc.item.id4095[class~="3"] {background-position:-512px 0px;background-image:url('blocks_items_nuclear_control.png');}
.mc.item.id4095[class~="4"] {background-position:-544px 0px;background-image:url('blocks_items_nuclear_control.png');}
.mc.item.id4095[class~="5"] {background-position:-576px 0px;background-image:url('blocks_items_nuclear_control.png');}
.mc.item.id4095[class~="6"] {background-position:-608px 0px;background-image:url('blocks_items_nuclear_control.png');}
.mc.item.id4095[class~="7"] {background-position:-640px 0px;background-image:url('blocks_items_nuclear_control.png');}
.mc.item.id4095[class~="8"] {background-position:-672px 0px;background-image:url('blocks_items_nuclear_control.png');}
.mc.item.id4095[class~="9"] {background-position:-704px 0px;background-image:url('blocks_items_nuclear_control.png');}
.mc.item.id4095[class~="10"] {background-position:-736px 0px;background-image:url('blocks_items_nuclear_control.png');}
.mc.item.id31256 {background-position:-768px 0px;background-image:url('blocks_items_nuclear_control.png');}
.mc.item.id31257 {background-position:-800px 0px;background-image:url('blocks_items_nuclear_control.png');}
.mc.item.id31258 {background-position:-448px -32px;background-image:url('blocks_items_nuclear_control.png');}
.mc.item.id31259 {background-position:-480px -32px;background-image:url('blocks_items_nuclear_control.png');}
.mc.item.id31260 {background-position:-512px -32px;background-image:url('blocks_items_nuclear_control.png');}
.mc.item.id31260[class~="1"] {background-position:-544px -32px;background-image:url('blocks_items_nuclear_control.png');}
.mc.item.id31260[class~="2"] {background-position:-576px -32px;background-image:url('blocks_items_nuclear_control.png');}
.mc.item.id31261 {background-position:-608px -32px;background-image:url('blocks_items_nuclear_control.png');}
.mc.item.id31262 {background-position:-640px -32px;background-image:url('blocks_items_nuclear_control.png');}
.mc.item.id31263 {background-position:-672px -32px;background-image:url('blocks_items_nuclear_control.png');}
.mc.item.id31264 {background-position:-704px -32px;background-image:url('blocks_items_nuclear_control.png');}
.mc.item.id31265 {background-position:-736px -32px;background-image:url('blocks_items_nuclear_control.png');}
.mc.item.id31265[class~="1"] {background-position:-768px -32px;background-image:url('blocks_items_nuclear_control.png');}
.mc.item.id31266 {background-position:-800px -32px;background-image:url('blocks_items_nuclear_control.png');}
.mc.item.id31266[class~="1"] {background-position:-416px -64px;background-image:url('blocks_items_nuclear_control.png');}
.mc.item.id31267 {background-position:-448px -64px;background-image:url('blocks_items_nuclear_control.png');}